h1
{
	border-bottom:2px solid grey;
	border-right:2px solid grey;
	width:300px;
	text-align:center;
}

.container
{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	
}

img
{
padding:10px;
transition: all 2;
}

img:hover
{
transform:scale(1.1);
}
